---
permalink: /gear/
layout: single
title: Gear
custom_css: gear
---


{% assign categories = site.data.gear | group_by: "category" %}

{% assign worn_weight_total = 0 %}
{% assign base_weight_total = 0 %}
{% assign weight_total = 0 %}

<select id="weightUnitSelector" onchange="weightUnitChange()">
    <option value="lbs">Lbs</option>
    <option value="oz">Oz</option>
</select>

<div class="summaryContainer">
    <div class="summaryBox" id="weight_chart" style="width: 600px; height: 300px;">Summary</div>
    <table class="summaryBox" id="summaryTable">
        <thead>
            <tr>
                <th class="categorycolor">
                </th>
                <th class="categoryname">
                    <h4>Category</h4>
                </th>
                <th class="categoryweight">
                    <h4>Weight</h4>
                </th>
                <th class="categoryoz"></th>
            </tr>
        <thead>
        <tbody>
            
            {% for category in categories %}
                {% assign cat_weight_total = 0 %}

                <!-- Add up the items in the category to a category total weight -->
                {% for item in category.items %}
                    {% assign qty = item.qty | minus: item.worn %}
                    {% assign w = item.weight | times: qty %}
                    {% assign w_worn = item.weight | times: item.worn %}
                    
                    {% assign worn_weight_total = worn_weight_total | plus: w_worn %}
                    {% if category.name != 'Variable' %}{% assign base_weight_total = base_weight_total | plus: w %}{% endif %}
                    {% assign cat_weight_total = cat_weight_total | plus: w %}
                {% endfor %}

                <!-- Add the category weight to the total weight -->
                {% assign weight_total = weight_total | plus: cat_weight_total %}

                <tr>
                    <td id="{{ category.name }}color">
                        <!--Placeholder circle for legend color. Default is grey. The color will be filled in by JS once the Google Chart has finished loading. -->
                        <svg height="20" width="20"><circle cx="10" cy="10" r="5.5" fill="grey"></circle></svg>
                    </td>
                    <td>
                        {{ category.name }}
                    </td>
                    <td class="weightValue" data-weightoz="{{ cat_weight_total }}">
                        {{ cat_weight_total | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }}
                    </td>
                    <td class="weightUnit">
                        lbs
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><b>Worn</b></td>
                <td class="weightValue" data-weightoz="{{ worn_weight_total }}">{{ worn_weight_total | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }}</td>
                <td class="weightUnit">lbs</td>
            </tr>
            <tr>
                <td></td>
                <td><b><div class="tooltip">Base Weight *<span class="tooltiptext">Does not include food, water, and clothing worn</span></div></b></td>
                <td class="weightValue" data-weightoz="{{ base_weight_total }}">{{ base_weight_total | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }}</td>
                <td class="weightUnit">lbs</td>
            </tr>
            <tr>
                <td></td>
                <td><b><div class="tooltip">Total *<span class="tooltiptext">Base weight + food and water</span></div></b></td>
                <td class="weightValue" data-weightoz="{{ weight_total }}">{{ weight_total | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }}</td>
                <td class="weightUnit">lbs</td>
            </tr>
        </tfoot>
    </table>
</div>

{% for category in categories %}
    {% assign weight_total = 0 %}
    {% assign qty_total = 0 %}
    <table class="items">
        <thead>
            <tr>
                <th class="itemname">
                    <h3>{{ category.name }}</h3>
                </th>
                <th class="itembrand"></th>
                <th class="itemweight">
                    <h4>Weight</h4>
                </th>
                <th class="itemqty">
                    <h4>Qty</h4>
                </th>
            </tr>
        <thead>
        <tbody>
            {% for item in category.items %}

                {% assign qty = item.qty | minus: item.worn %}
                {% assign w = item.weight | times: qty %}
                
                {% assign weight_total = weight_total | plus: w %}
                {% assign qty_total = qty_total | plus: item.qty %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {% if item.url %}
                            <a href="{{ item.url }}"> {{ item.brand }} </a>
                        {% else %}
                            {{ item.brand }}
                        {% endif %}

                        {% if item.worn != '0' %}
                            <div class="tooltip wornIcon"><img src="/img/clothes-t-shirt-icon.png"><span class="tooltiptext">Item is worn and not included in the weight totals</span></img></div>
                        {% endif %}
                    </td>
                    <td>
                        <span class="weightValue" data-weightoz="{{ item.weight }}">{{ item.weight | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }} </span>
                        <span class="weightUnit">lbs</span>
                    </td>
                    <td>
                        {{ item.qty }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td />
                <td />
                <td>
                    <b class="weightValue" data-weightoz="{{ weight_total }}">{{ weight_total | divided_by:16.0 | times:100.0 | round | divided_by:100.0 }} </b>
                    <b class="weightUnit">lbs</b>
                </td>
                <td>
                    <b>{{ qty_total }}</b>
                </td>
            </tr>
        </tfoot>
    </table>
    <br />
{% endfor %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script async type="text/javascript" src="/assets/js/gear_charts.js"></script>

<script type="text/javascript">
    function weightUnitChange() {
        // Get value of the weight unit selector
        var weightUnitSelector = document.getElementById("weightUnitSelector");
        var weightUnitVal = weightUnitSelector.options[weightUnitSelector.selectedIndex].value;

        // Loop over the weight unit elements and change their units (lbs or oz)
        var weightUnits = document.getElementsByClassName('weightUnit');

        for(var i=0; i < weightUnits.length; i++) {
            weightUnits[i].textContent = weightUnitVal;
        }

        // Loop over the weight value elements and change their values (lb = oz / 16)
        var weightValues = document.getElementsByClassName('weightValue');

        for(var i=0; i < weightValues.length; i++) {
            var oz = parseFloat(weightValues[i].getAttribute('data-weightoz'));
            
            var weightVal = Number.NaN;
            if(weightUnitVal == 'oz')       weightVal = oz;
            else if(weightUnitVal == 'lbs') weightVal = (oz / 16.0).toFixed(2);

            if(isNaN(weightVal))    weightValues[i].textContent = ''
            else                    weightValues[i].textContent = weightVal
        }
    }
</script>
