---
permalink: /stats/
layout: single
title: Stats
custom_css: stats
---

{% assign hiked = site.data.stats.current_location.miles_hiked %}
{% assign remaining = site.data.stats.current_location.miles_remaining %}
{% assign tot_miles = hiked | plus: remaining %}
{% assign percent_complete =  hiked | divided_by: tot_miles | times: 100 %}

Sorry, I ran out of time to make this page pretty.  But it contains useful information, so I kept it.  Maybe I'll go back at some point and make it nicer to look at.

<div class="statsContainer">
    <div class="statsHeader">Pace</div>

    <div class="statsBox">
        <table>
            <tr><td>Walked</td><td>{{ hiked }} miles</td></tr>
            <tr><td>Remaining</td><td>{{ remaining }} miles</td></tr>
            <tr><td>Complete</td><td>{{ percent_complete | round: 2 }}%</td></tr>
        </table>
    </div>

    <div class="statsBox">
        <table>
            <tr><td>Avg Miles per Day</td><td>{{ site.data.stats.avg_mileage }}</td></tr>
            <tr><td>Number of Zeros</td><td>{{ site.data.stats.num_zeros }}</td></tr>
        </table>
    </div>


    <div class="statsHeader">Finances</div>

    <div class="statsBox">
        <div id="total_spent"> Spent: $0 </div>
        <div id="finance_bars"></div>
    </div>
    
    <div class="statsHeader">Mileage Log</div>
    <div class="statsBox">
        <table>
        <tr><th>Date</th><th>Miles</th><th>Duration</th><th>Pace</th></tr>
        {% for day in site.data.stats.mileage %}
            {% assign hours = day.duration | divided_by: 60 | round: 0 %}
            {% assign minutes = day.duration | modulo: 60 | round: 0 %}
            {% if day.duration > 0 %}
                {% assign mph = day.miles | divided_by: day.duration | times: 60 | round: 2 %}
            {% else %}
                {% assign mph = 0 | round: 2 %}
            {% endif %}
            <tr><td>{{ day.date }}</td><td>{{ day.miles }}</td><td>{{ hours }}h, {{ minutes }}m</td><td>{{ mph }} mph</td></tr>
        {% endfor %}
        </table>
    </div>

</div> <!--statsContainer-->

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/assets/js/stats.js"></script>
